* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: slategrey;
}

.navbar {
    background-color: #152028;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%; /* Adjusted */
}

.nav-pill {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-pill:hover {
    color: #0056b3;
}

.section {
    padding: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 150px;
    margin-top: 150px;
    width: 100%;
    max-width: 100%; /* Adjusted */
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
}


.personal-details-card {
    width: 200px;
    background-color: #152028;
    border-radius: 10px;
    padding: 10px;
    float: left;
    margin: 10px 0; /* Equal margin at the top and bottom */
    text-align: left; /* Align text to the left within the card */
}

.personal-details-card .card-title {
    margin-bottom: 10px; /* Add space between the title and the list */
}

.personal-details-card ul {
    list-style: none; /* Remove bullet points from the list */
    padding : 0;
}


.about-text {
    text-align: center;
    max-width: 80%;
    margin: 20px 0;
}


.about-text p {
    text-align: center;
    max-width: 70%; /* Adjust the maximum width as needed */
    margin-bottom: 50px;
    margin-left : 120px;
    margin-right: 120px;
}

.about-paragraph {
    text-align: center;
    max-width: 80%;
    margin: 0 auto; /* Center the content */
}



.skills-table {
    width: 100%;
    max-width: 800px; /* Adjust the maximum width according to your design */
    margin: 20px auto; /* Center the table on the page */
    border-collapse: collapse;
}

.skills-table td {
    border: 2px solid #152028;
    padding: 10px;
    text-align: center;
}
.skills-container {
    overflow-x: auto; /* Add horizontal scroll for small screens */
    margin: 0 10px; /* Adjust margins as needed */
}


#about {
    margin: 0 100px; /* Adjust the value to set the desired space between the section and the browser borders */
    margin-bottom: 50px;
    margin-top: 100px;
    
}

.more-about-me {
    text-align: center;
    margin-bottom: 20px; /* Adds space between the text and the next section */
    margin-left: 250px;
    margin-right: 250px;
    /* Additional styles as needed */
}

.skills-list {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-list li {
    margin: 10px 0; /* Add margin to create space between list items */
}

.skills-list li::before {
    content: '\2022'; /* Use a Unicode bullet character */
    color:  #152028;
    font-weight: bold; /* Make the bullet bold */
    margin-right: 10px; /* Add margin between bullet and list item text */
}

.project {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.project img {
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
}

.thumbnail {
    border: 5px solid  #464646;
    border-radius: 10px; /* Rounded corners */
    margin: 10px; /* Margin around the images */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.thumbnail:hover {
    transform: scale(1.05); /* Increase the size of the image on hover */
}


.contact {
    background-color: #464646;
    padding: 50px; 
    text-align: center;
    color: white; /
}

.footer {
    background-color: #152028; /* Same color as the navigation bar */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

.footer p {
    margin: 0;
    color: white;
}
.footer-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: violet;
}

.material-icons {
    color: violet;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-pill {
        margin: 10px 0;
    }

    .about-container,
    .skills-table {
        max-width: 100%;
        margin: 0 20px; /* Adjusted */
    }

    .project img {
        width: 100%;
        height: auto;
    }

    .footer-icons {
        flex-direction: column;
    }
}







 

